{{top-menu mainPage=false blogId=model.blog.id}}
<div class="container" style="margin-top:5%;">
	<div class="row">
		<div class="col-12">
			<p><h3>{{model.title}}</h3></p>
			<p>Создано: {{model.blog.createdBy}}</p>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			{{model.text}}
		</div>
	</div>
	{{outlet}}
</div>